<!doctype html>
<html>
<head>
<title>WikiBuilder</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
<script>
</script>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<%if (isMobile) {%>
  <link href="/css/styleMobile.css" rel="stylesheet" type="text/css">
<%} else if (isDesktop) {%>
  <link href="/css/styleDesktop.css" rel="stylesheet" type="text/css">
<% } %>
<link rel="icon" href="images/favicon.ico" />
</head>
<body>
  <div id = "root" class = "pageRoot"><%- data %></div>
  <script src = "/bundle.js" charset = "utf-8"></script>
</body>
</html>